---
import HomeLayout from "../layouts/HomeLayout.astro"
import { SITE_TITLE, SITE_DESCRIPTION, KEYWORDS } from "../consts";
import Hero from "../components/Hero.astro";
import Bento2Row from "../components/Bento2Row.astro";
import CTAGlass from "../components/CTAGlass.astro";
import FeaturesCenterGrid from "../components/FeaturesCenterGrid.astro";
import AboutSec from "../components/AboutSec.astro";
import Enroll from "../components/Enroll.astro";
import FAQs from "../components/FAQs.astro";
import CTASplitImage from "../components/CTASplitImage.astro";
---

<HomeLayout
	siteTitle={SITE_TITLE}
	siteDescription={SITE_DESCRIPTION}
	keywords={KEYWORDS}
	class="bg-white text-black"
>
	<Hero />
	<div id="new-to-flying"></div>
	<Bento2Row />
	<div id="programs"></div>
	<CTAGlass />
	<div id="features"></div>
	<FeaturesCenterGrid />
	<div id="about"></div>
	<AboutSec />
	<div id="enroll-now" class="scroll-my-20 lg:scroll-my-28"></div>
	<Enroll />
	<FAQs />
	<CTASplitImage />
</HomeLayout>