---
import ImageComp from "./ImageComp.astro"
---
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <h2 class="text-base/7 font-semibold text-blue-900">Start Your Journey</h2>
    <p class="mt-2 max-w-lg text-4xl font-semibold tracking-tight text-pretty text-gray-950 sm:text-5xl">
      Flight Training That Fits Your Future
    </p>
    <div class="mt-10 grid grid-cols-1 gap-4 sm:mt-16 lg:grid-cols-6 lg:grid-rows-2">
      <div class="relative lg:col-span-3">
        <div class="absolute inset-px rounded-lg bg-white max-lg:rounded-t-4xl lg:rounded-tl-4xl"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)] lg:rounded-tl-[calc(2rem+1px)]">
          <ImageComp
            imagePath="/src/assets/N691HA-in-air.png"
            imageAlt="Modern Fleet"
            styles="h-80 object-cover object-left"
          />
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-blue-900">Modern Fleet</h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">Technically Advanced Aircraft</p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">Train in RV-12s equipped with Garmin G3X glass cockpits, GFC 500 autopilots, and ADS-B in/out for a modern training experience.</p>
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5 max-lg:rounded-t-4xl lg:rounded-tl-4xl"></div>
      </div>
      <div class="relative lg:col-span-3">
        <div class="absolute inset-px rounded-lg bg-white lg:rounded-tr-4xl"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-tr-[calc(2rem+1px)]">
          <ImageComp
            imagePath="/src/assets/logan.png"
            imageAlt="Pro Pilot Pathway"
            styles="h-80 object-cover object-left lg:object-right"
          />
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-blue-900">Pro Pilot Pathway</h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">From Zero to CFI</p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">Accelerated training designed for career pilots. Start from Private and finish with your CFI — all with structured guidance and full-time scheduling.</p>
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5 lg:rounded-tr-4xl"></div>
      </div>
      <div class="relative lg:col-span-2">
        <div class="absolute inset-px rounded-lg bg-white lg:rounded-bl-4xl"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-bl-[calc(2rem+1px)]">
          <ImageComp
            imagePath="/src/assets/Dan_Bartels-scaled.jpg"
            imageAlt="Simple Pricing"
            styles="h-80 object-cover object-left"
          />
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-blue-900">Simple Pricing</h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">Program-Based Packages</p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">No hidden fees or rental confusion. Our programs use fixed pricing per certificate, so you always know what you’re paying for.</p>
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5 lg:rounded-bl-4xl"></div>
      </div>
      <div class="relative lg:col-span-2">
        <div class="absolute inset-px rounded-lg bg-white"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
          <ImageComp
            imagePath="/src/assets/IMG_4641.jpg"
            imageAlt="Flight Instructors"
            styles="h-80 object-cover"
          />
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-blue-900">Flight Instructors</h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">Experienced, Invested, Professional</p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">Our instructors are not just hour-builders. They're dedicated mentors committed to your progress and success.</p>
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5"></div>
      </div>
      <div class="relative lg:col-span-2">
        <div class="absolute inset-px rounded-lg bg-white max-lg:rounded-b-4xl lg:rounded-br-4xl"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-br-[calc(2rem+1px)]">
          <ImageComp
            imagePath="/src/assets/IMG_8303.jpeg"
            imageAlt="Modern Fleet"
            styles="h-80 object-cover"
          />
          <div class="p-10 pt-4">
            <h3 class="text-sm/4 font-semibold text-blue-900">Two Locations</h3>
            <p class="mt-2 text-lg font-medium tracking-tight text-gray-950">Tennessee & Mississippi</p>
            <p class="mt-2 max-w-lg text-sm/6 text-gray-600">Train at Shelbyville (KSYI) or Tupelo (KTUP) with the same quality aircraft and instruction at both locations.</p>
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5 max-lg:rounded-b-4xl lg:rounded-br-4xl"></div>
      </div>
    </div>
  </div>
</div>
